<%= form_with model: @student, local: true do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :NAME %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :SECTION %><br>
    <%= form.text_field :section %>
  </p>

  <p>
    <%= form.label :ADDRESS %><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <%= form.submit :update %>
  </p>

<% end %>