<center>
<br>
<div class="students">
STUDENTS
</div>
<hr />
</center>

<table class="table1">
  <tr>
    <th><b><big>NAME</b></big></th>
    <th><b><big>SECTION</b></big></th>
    <th><b><big>BORROWED BOOK</b></big></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><div class="tooltip"><%= button_to student.name, student_path(student), :method => "get", :class => "studlink" %><span class="tooltiptext">Click to view details</span></div></td>
    <td><div class="tooltip"><%= button_to student.section,student_path(student), :method => "get", :class => "studlink" %><span class="tooltiptext">Click to view details</span></div></td>
    <td><div class="tooltip"><% if student.book %>
        <%= button_to student.book.title, book_path(student.book), :method => "get", :class => "studlink" %><span class="tooltiptext">Click to view details</span></div>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<br>
<div class="btn-group">
<%= button_to 'Create New Student', new_student_path, :method => "get", :class => "back" %>
<%= button_to 'Back', root_path, :method => "get", :class => "buttons" %>
</div>