<p>
  <strong>NAME:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>SECTION:</strong>
  <%= @student.section %>
</p>

<p>
  <strong>ADDRESS:</strong>
  <%= @student.address %>
</p>

<table>
<th><%= link_to 'EDIT', edit_student_path(@student) %></th>
<th><%= link_to 'BACK', students_path %></th>