<br>
<fieldset>
<legend class="students">STUDENT DETAILS</legend>

<fieldset>
<legend><strong>NAME:</strong></legend>
<%= @student.name %>
<br>
</fieldset>
<br>
<fieldset>
<legend><strong>SECTION:</strong></legend>
<%= @student.section %>
<br>
</fieldset>
<br>
<fieldset>
<legend><strong>ADDRESS:</strong></legend>
<%= @student.address %>
<br>
</fieldset>
</fieldset>
<br>

<table class="table1">
<th><%= button_to 'EDIT', edit_student_path(@student), :method => "get", :class => "studlink" %></th>
<th><%= button_to 'DELETE', student_path(@student), :method => "delete", :data => { confirm: 'ARE YOU SURE?' }, :class => "studlink" %></th>
<th><%= button_to 'BACK', students_path, :method => "get", :class => "studlink" %></th>
</table>
<br>