<%= form_with model: @book, local: true do |form| %>
 
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<fieldset>
<legend><strong>TITLE:</strong></legend>
<%= form.text_field :title %>
<br>
</fieldset>
<br>
<fieldset>
<legend><strong>AUTHOR:</strong></legend>
<%= form.text_field :author %>
<br>
</fieldset>
<br>
<fieldset>
<legend><strong>DESCRIPTION:</strong></legend>
<%= form.text_area :description %>
<br>
</fieldset>
</fieldset>
<br>
<table class="table1">
<th><%= form.submit :CREATE, :class => "studlink" %></th>
<% end %>

<th><%= button_to 'BACK', books_path, :method => "get", :class => "studlink" %></th>
</table>
<br>
