<center>
<br>
  <div class="students">
    BOOKS
  </div>
<hr />
</center>

<table class="table1">
  <tr>
    <th><b><big>BOOK NAME</b></big></th>
    <th><b><big>SELECT STUDENT</b></big></th>
    <th><b><big>BORROWED BY</b></big></th>
    </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><div class="tooltip"><%= button_to book.title, book_path(book), :method => "get", :class => "studlink" %><span class="tooltiptext">Click to view details</span></div></td>
      <%= form_tag(assign_book_path(book), method: "get") do %>
      <td><%= select("book", "student_id", Book.show_full_list,{ include_blank: true }, :class => "booklinkselect") %>
      <%= submit_tag('Assign', :class => "booklink") %>
      
      <td><center><%= link_to book.student.name, student_path(book.student), :class => "bookstud" if book.student %></center></td>
      
  <% end %>        
      
    </tr>
  <% end %>
</table>
<br>
<div class="btn-group">
<%= button_to 'Create New Book', new_book_path, :method => "get", :class => "back" %>
<%= button_to 'Back', root_path, :method => "get", :class => "buttons" %>
</div>
