<!DOCTYPE html>
<html>

  <head>

    <title>UNIVERSITY LIBRARY APP</title>

    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
    <br>
    <table>
    <tr>
    <th><%= button_to "HOME", root_path, :method => "get" %></th>
    <th><%= button_to "BOOKS", books_path, :method => "get" %></th>
    <th><%= button_to "STUDENTS", students_path, :method => "get" %></th>
    </tr>
    </table>
    <%= yield %>

  </body>

</html>
