<!DOCTYPE html>
<html>

  <head>

    <title>UNIVERSITY LIBRARY APP</title>

    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Salsa' rel='stylesheet'>

    
  </head>


  <body>
<div class="navbar">
<div class="btn-group">
  <%= button_to "HOME", root_path, :method => "get", :class => "buttons" %>
  <%= button_to "BOOKS", books_path, :method => "get", :class => "buttons" %>
  <%= button_to "STUDENTS", students_path, :method => "get", :class => "buttons" %>
</div>
</div>
<br>
<br>
<%= yield %>
</body>
</html>
